@import './variables';

.app-bar{
    //box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2) !important;
    border-bottom: $border-color solid 1px;
    background-color: $background-color !important;
    box-shadow: none !important;
}

.header-title{
    font-weight: 400;
    margin-left: 0.25em !important;
    font-size: 22px !important;
    line-height: 24px !important;
}

.header-search{
    position: relative;
    border-radius: 0.5em;
    background-color: $light-gray;
    height: 3em;
    color: $black;
    margin-right: 0.25em;
    margin-left: 0em;
    width: 55%;
    margin: 0em 4em;
    display: flex;
    align-items: center;
}

.header-search.floated{
    background-color: $background-color;
    box-shadow: $box-shadow-general;
}

.header-input-input{
    padding: 0.2em;
    padding-left: 0em;
    width: 100%;
    height: 100%;
    color: $black !important;
    font-size: 1em !important;
}

.header-input-input{
    input{
        font-size: 1em;
        padding: 0em 0em;
        color: $black;
    }
}

.header-icon{
    height: 100%;
    cursor: pointer;
    display: flex;
    color: $logo-color;
    align-items: center;
    justify-content: center;
}

.floating-icon{
    position: relative;
}
.floating-icon .search{
    left: 2%;
}

.floating-icon .clear{
    right: 2%;
}

.menu-icon-button{
    background: $icon-button-hover !important;
}

.top-menu{
    display: flex;
    padding: 0em 5em;
}

.keep-icon{
    width: 40px;
}

.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0em 0.25em;
}

.user-details{
    display: flex;
    align-items: center;
}

.user-photo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icon-invisible{
    display: none !important;
}

.drawer{
    padding-top: 4em;
    border-right: none;
}

.drawer-open{
    width: 240px;
    transition: width ease-out 0.3s;
}

.drawer-close{
    transition: width ease-out 0.3s;
    overflow: hidden;
    width: 40px;
}

.list-icon{
    padding: 0.5em 0.5em !important;
    margin: 0em 0.5em !important;
    &:hover{
        background-color: $light-gray !important;
    }
}

.list-item.active{
    
    &:hover{
        background-color: $active-drawer !important;
    }
    .list-icon{
        background-color: $active-drawer !important;
    }
}

.opened.list-item.active{
    background-color: $active-drawer !important;
}
.drawer-list{
    margin: 0 !important;
    padding: 8px 0 !important;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: -1em !important;
    position: relative !important;
    list-style: none !important;
}

.list-item{
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 1em;
    &:hover{
        background-color: $light-gray;
    }
}

.list-item-text{
    padding: 0em 1em;
    width: -webkit-fill-available;
    align-self: center;
    text-align: start;
    font-size: .875rem !important;
    font-weight: 600 !important;
    font-family: $sans-font !important;
}

.MuiDrawer-paperAnchorDockedLeft{
    border-right: none !important;
}