@import './variables';

.fundoo-logo{
    font-size: 25px;
    font-weight: 500;
    padding: 0.5em 0em;
}

.logo-f{
    color: $logo-f-color;
}
.logo-u{
    color: $logo-u-color;
}
.logo-n{
    color: $logo-n-color;
}
.logo-d{
    color: $logo-d-color;
}
.logo-first-o{
    color: $logo-first-o-color;
}
.logo-second-o{
    color: $logo-second-o-color;
}