@import './variables';

.note-card{
    padding-bottom: 0em;
    text-align: start;
    border-radius: 10px !important;
    overflow: inherit !important;
    position: relative;
    &:hover{
        box-shadow: $box-shadow-general;
        .select-button{
            display: block !important;
        }
        .pin-button{
            display: block !important;
        }
        .note-actions{
            padding: 8px 0px !important;
            display: block !important;
        }
        .note-action-buttons .button{
            display: block !important;
        }
    }
}

.note-row{
    height: 10em;
}

.note{
    justify-content: center;
    font-family: $sans-font !important;
    letter-spacing: .01428571em;
}

.note-content{
    padding: 0em 1em ;
    max-height: 18em;
    overflow: hidden;
}

.card-title{
    padding:  1.5em 1em 1em 1em !important;
    h6{
        font-weight: 600 !important;
        font-size: 1em !important;
    }
}

.note-content.checklist{
    padding-inline-start: 0.5em !important;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

.list-check-icon{
    padding: 0 !important;
    svg{
        height: 18px;
        width: 18px;
    }
}

.list-item-icon{
    min-width: 15px !important;
    margin-top: 4px;
    margin-bottom: 4px;
    align-self: baseline;
}

.list-item{
    padding: 0em 1em !important;
    &:hover{
        background: none !important;
    }
}

.note-action-buttons{
    max-width: 100%;
    justify-content: flex-end;
    padding-top: 1em !important;
    div{
        display: flex;
        justify-content: space-evenly;
        padding-left: 0.5em;
    }
}




.note-actions{
    padding: 21px 0px !important;
    display: block !important;
}

.select-button{
    position: absolute !important;
    top: -6%;
    left: -4%;
    display: none !important;
}

.pin-button{
    position: absolute !important;
    right: 0%;
    display: none !important;
}

.note-action-buttons .button{
    display: none !important;
    svg{
        height: 18px;
        width: 18px;
    }
    padding: 4px;
}