
$background-color: #ffffff;
$secondary-color: #ffffff;
$primary-color: #446DFF;
$primary-font: 'Montserrat', sans-serif;
$header-font: 'Poppins', sans-serif;
$primary-text: #000000;
$secondary-text: #e4e4e4;
$border-color: #dadce0;
$logo-f-color:#4285f4;
$logo-u-color: #ea4335; 
$logo-n-color: #fbbc05;
$logo-d-color: #4285f4;
$logo-first-o-color: #34a853;
$logo-second-o-color: #ea4335;