@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
#sign-in {
  width: 30%;
  border: #dadce0 solid 1px;
  border-radius: 10px;
  margin: 4em auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.page-subtitle {
  padding: 0.5em;
  font-size: 1.25em;
}

.sign-input {
  width: 100%;
  margin: 0.5em 0em !important;
}

.sign-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #446DFF;
  font-weight: 600;
  -ms-flex-item-align: center;
      align-self: center;
}

.sign-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0.5em;
}

.fundoo-logo {
  font-size: 25px;
  font-weight: 500;
  padding: 0.5em 0em;
}

.logo-f {
  color: #4285f4;
}

.logo-u {
  color: #ea4335;
}

.logo-n {
  color: #fbbc05;
}

.logo-d {
  color: #4285f4;
}

.logo-first-o {
  color: #34a853;
}

.logo-second-o {
  color: #ea4335;
}

.page-title {
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.25em 0em;
}

.sign-input-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sign-up {
  width: 50%;
  border: #dadce0 solid 1px;
  border-radius: 10px;
  margin: 4em auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sign-up-input {
  padding: 0em 0.25em;
}

.sign-input-row {
  width: 80%;
  margin: auto;
}

.card {
  border: #dadce0 solid 1px;
  border-radius: 10px;
  width: 100%;
  margin: auto auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 600px) {
  .card {
    height: 100vh;
  }
}

.app-bar {
  border-bottom: #dadce0 solid 1px;
  background-color: #ffffff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.header-title {
  font-weight: 400;
  margin-left: 0.25em !important;
  font-size: 22px !important;
  line-height: 24px !important;
}

.header-search {
  position: relative;
  border-radius: 0.5em;
  background-color: #f1f3f4;
  height: 3em;
  color: #000;
  margin-right: 0.25em;
  margin-left: 0em;
  width: 55%;
  margin: 0em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-search.floated {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px 0px #000;
          box-shadow: 0 1px 3px 0px #000;
}

.header-input-input {
  padding: 0.2em;
  padding-left: 0em;
  width: 100%;
  height: 100%;
  color: #000 !important;
  font-size: 1em !important;
}

.header-input-input input {
  font-size: 1em;
  padding: 0em 0em;
  color: #000;
}

.header-icon {
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5f6368;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.floating-icon {
  position: relative;
}

.floating-icon .search {
  left: 2%;
}

.floating-icon .clear {
  right: 2%;
}

.menu-icon-button {
  background: rgba(0, 0, 0, 0.04) !important;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0em 5em;
}

.keep-icon {
  width: 40px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0em 0.25em;
}

.user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-photo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.icon-invisible {
  display: none !important;
}

.drawer {
  padding-top: 4em;
  border-right: none;
}

.drawer-open {
  width: 240px;
  -webkit-transition: width ease-out 0.3s;
  transition: width ease-out 0.3s;
}

.drawer-close {
  -webkit-transition: width ease-out 0.3s;
  transition: width ease-out 0.3s;
  overflow: hidden;
  width: 40px;
}

.list-icon {
  padding: 0.5em 0.5em !important;
  margin: 0em 0.5em !important;
}

.list-icon:hover {
  background-color: #f1f3f4 !important;
}

.list-item.active:hover {
  background-color: #feefc3 !important;
}

.list-item.active .list-icon {
  background-color: #feefc3 !important;
}

.opened.list-item.active {
  background-color: #feefc3 !important;
}

.drawer-list {
  margin: 0 !important;
  padding: 8px 0 !important;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -1em !important;
  position: relative !important;
  list-style: none !important;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  padding-left: 1em;
  cursor: pointer;
}

.list-item:hover {
  background-color: #f1f3f4;
}

.list-item-text {
  padding: 0em 1em;
  width: -webkit-fill-available;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: start;
  font-size: .875rem !important;
  font-weight: 600 !important;
  font-family: "Open Sans", sans-serif !important;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: none !important;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 8em 3em;
}

.drawer .MuiPaper-root {
  margin-top: 4em;
}

.note-card {
  padding-bottom: 0em;
  text-align: start;
  border-radius: 10px !important;
  overflow: inherit !important;
  position: relative;
}

.note-card:hover {
  -webkit-box-shadow: 0 1px 3px 0px #000;
          box-shadow: 0 1px 3px 0px #000;
}

.note-card:hover .select-button {
  display: block !important;
}

.note-card:hover .pin-button {
  display: block !important;
}

.note-card:hover .note-actions {
  padding: 8px 0px !important;
  display: block !important;
}

.note-card:hover .note-action-buttons .button {
  display: block !important;
}

.note-row {
  height: 10em;
}

.note {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif !important;
  letter-spacing: 0.01429em;
}

.note-content {
  padding: 0em 1em;
  max-height: 18em;
  overflow: hidden;
}

.card-title {
  padding: 1.5em 1em 1em 1em !important;
}

.card-title h6 {
  font-weight: 600 !important;
  font-size: 1em !important;
}

.note-content.checklist {
  -webkit-padding-start: 0.5em !important;
          padding-inline-start: 0.5em !important;
  -webkit-margin-before: 0em !important;
          margin-block-start: 0em !important;
  -webkit-margin-after: 0em !important;
          margin-block-end: 0em !important;
}

.list-check-icon {
  padding: 0 !important;
}

.list-check-icon svg {
  height: 18px;
  width: 18px;
}

.list-item-icon {
  min-width: 15px !important;
  margin-top: 4px;
  margin-bottom: 4px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.note-action-buttons {
  max-width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1em !important;
}

.note-action-buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 0.5em;
}

.note-actions {
  padding: 21px 0px !important;
  display: block !important;
}

.select-button {
  position: absolute !important;
  top: -6%;
  left: -4%;
  display: none !important;
}

.pin-button {
  position: absolute !important;
  right: 0%;
  display: none !important;
}

.note-action-buttons .button {
  display: none !important;
  padding: 4px;
}

.note-action-buttons .button svg {
  height: 18px;
  width: 18px;
}

.search {
  width: 100%;
}

.search .content {
  padding: 0em 0em !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-tiles {
  margin: auto !important;
  padding: 2em 0em !important;
}

.search-tile-set {
  padding: 0em !important;
  margin: 0.5em !important;
  border: 1px solid #f1f3f4;
  -webkit-box-shadow: 0 1px 3px 1px #f1f3f4;
          box-shadow: 0 1px 3px 1px #f1f3f4;
}

.tile {
  padding: 0px !important;
  margin: 0em !important;
  margin-right: 0.25em !important;
  background-color: #1a73e8;
  color: #ffffff;
  width: 50px !important;
  height: 150px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.tile.color {
  background-color: #ffffff;
  width: 70px !important;
  height: 70px !important;
}

.tile.color .color {
  border: 1px solid #5f6368;
  border-radius: 50%;
  background-color: #1a73e8;
  width: 50px;
  height: 50px;
}

.tile.gray {
  background-color: #f1f3f4;
  color: #1a73e8;
}

.tile.gray .tile-title {
  color: #000;
}

.tiles-header {
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  color: #000;
}

.tile-icon {
  width: 40px !important;
  height: 40px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tile-title {
  position: absolute;
  bottom: 8%;
  font-size: 0.85em !important;
}

body {
  margin: 0em;
  padding: 0em;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  font: "Roboto", "RobotoDraft", "Arial", sans-serif !important;
  color: #5f6368;
  letter-spacing: 0.01429em;
}

li {
  display: block;
}

.App {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */