@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
#sign-in {
  width: 30%;
  border: #dadce0 solid 1px;
  border-radius: 10px;
  margin: 4em auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.page-subtitle {
  padding: 0.5em;
  font-size: 1.25em;
}

.sign-input {
  width: 100%;
  margin: 0.5em 0em !important;
}

.sign-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #446DFF;
  font-weight: 600;
  -ms-flex-item-align: center;
      align-self: center;
}

.sign-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0.5em;
}

.fundoo-logo {
  font-size: 25px;
  font-weight: 500;
  padding: 0.5em 0em;
}

.logo-f {
  color: #4285f4;
}

.logo-u {
  color: #ea4335;
}

.logo-n {
  color: #fbbc05;
}

.logo-d {
  color: #4285f4;
}

.logo-first-o {
  color: #34a853;
}

.logo-second-o {
  color: #ea4335;
}

.page-title {
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.25em 0em;
}

.sign-input-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sign-up {
  width: 50%;
  border: #dadce0 solid 1px;
  border-radius: 10px;
  margin: 4em auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sign-up-input {
  padding: 0em 0.25em;
}

.sign-input-row {
  width: 80%;
  margin: auto;
}

.card {
  border: #dadce0 solid 1px;
  border-radius: 10px;
  width: 100%;
  margin: auto auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 600px) {
  .card {
    height: 100vh;
  }
}

.app-bar {
  border-bottom: #dadce0 solid 1px;
  background-color: #ffffff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.header-title {
  font-weight: 400;
  margin-left: 0.25em !important;
  font-size: 22px !important;
  line-height: 24px !important;
}

.header-search {
  position: relative;
  border-radius: 0.5em;
  background-color: #f1f3f4;
  height: 3em;
  color: #000;
  margin-right: 0.25em;
  margin-left: 0em;
  width: 55%;
  margin: 0em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-input-input {
  padding: 0.2em;
  padding-left: 1em;
  width: 100%;
  height: 100%;
  color: #000 !important;
  font-size: 1em !important;
}

.header-input-input input {
  font-size: 1em;
  padding: 0em 2em;
  color: #000;
}

.header-icon {
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5f6368;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.floating-icon {
  position: relative;
}

.floating-icon .search {
  left: 2%;
}

.floating-icon .clear {
  right: 2%;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0em 5em;
}

.keep-icon {
  width: 40px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0em 0.25em;
}

.user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-photo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.drawer {
  padding-top: 4em;
  border-right: none;
}

.drawer-open {
  width: 240px;
  -webkit-transition: width ease-out 0.3s;
  transition: width ease-out 0.3s;
}

.drawer-close {
  -webkit-transition: width ease-out 0.3s;
  transition: width ease-out 0.3s;
  overflow: hidden;
  width: 40px;
}

.list-icon {
  padding: 0.5em 0.5em !important;
  margin: 0em 0.5em !important;
}

.list-icon:hover {
  background-color: #f1f3f4 !important;
}

.list-item.active:hover {
  background-color: #feefc3 !important;
}

.list-item.active .list-icon {
  background-color: #feefc3 !important;
}

.opened.list-item.active {
  background-color: #feefc3 !important;
}

.drawer-list {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -1em;
  position: relative;
  list-style: none;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  padding-left: 1em;
}

.list-item:hover {
  background-color: #f1f3f4;
}

.list-item-text {
  padding: 0em 1em;
  width: -webkit-fill-available;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: start;
  font-size: .875rem !important;
  font-weight: 600 !important;
  font-family: 'Open Sans', sans-serif !important;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: none !important;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 8em 3em;
}

.drawer .MuiPaper-root {
  margin-top: 4em;
}

.note-card {
  padding: 1em;
  text-align: start;
  border-radius: 10px !important;
  overflow: hidden;
}

.note-row {
  height: 10em;
}

.note {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.note-content {
  max-height: 18em;
  overflow: hidden;
}

.note-content.checklist {
  -webkit-padding-start: 0em !important;
          padding-inline-start: 0em !important;
  -webkit-margin-before: 0em !important;
          margin-block-start: 0em !important;
  -webkit-margin-after: 0em !important;
          margin-block-end: 0em !important;
}

.list-check-icon {
  padding: 0 !important;
}

.list-check-icon svg {
  height: 20px;
}

.list-item-icon {
  min-width: 20px !important;
  margin-top: 4px;
  margin-bottom: 4px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.list-item {
  padding: 0em 1em !important;
}

body {
  margin: 0em;
  padding: 0em;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  font: "Roboto", "RobotoDraft", "Arial", sans-serif !important;
  color: #5f6368;
}

li {
  display: block;
}

.App {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  color: #5f6368;
}

#root {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */